<framework-data>
	<options>
		<option id="com.atmel.avr.sf.xmegaa.common.boards" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.services.basic.clock" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.services.basic.gpio" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.ioport" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.applications.led_chaser" value="true"/>
	</options>
	<files>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/boards/board.h" source="common/boards/board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/xmega_reset_cause.h" source="xmega/drivers/cpu/xmega_reset_cause.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt/interrupt_avr8.h" source="common/utils/interrupt/interrupt_avr8.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/parts.h" source="xmega/utils/parts.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/status_codes.h" source="xmega/utils/status_codes.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/osc.h" source="common/services/clock/xmega/osc.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt.h" source="common/utils/interrupt.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_clock.h" source="common/applications/led_chaser/atxmega128a1_stk600/conf_clock.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/compiler.h" source="xmega/utils/compiler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/sysclk.c" source="common/services/clock/xmega/sysclk.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/osc.h" source="common/services/clock/osc.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/stk600/rc100x/stk600_rc100x.h" source="xmega/boards/stk600/rc100x/stk600_rc100x.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/bit_handling/clz_ctz.h" source="xmega/utils/bit_handling/clz_ctz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/progmem.h" source="xmega/utils/progmem.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/pll.h" source="common/services/clock/xmega/pll.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_board.h" source="common/applications/led_chaser/atxmega128a1_stk600/conf_board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/mrepeat.h" source="xmega/utils/preprocessor/mrepeat.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/preprocessor.h" source="xmega/utils/preprocessor/preprocessor.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/gpio.h" source="common/services/gpio/gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/sysclk.h" source="common/services/clock/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.c" source="xmega/drivers/ioport/ioport.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_example.h" source="common/applications/led_chaser/atxmega128a1_stk600/conf_example.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/xmega_ioport/xmega_gpio.h" source="common/services/gpio/xmega_ioport/xmega_gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.h" source="xmega/drivers/ioport/ioport.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler.h" source="xmega/utils/assembler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler/gas.h" source="xmega/utils/assembler/gas.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/genclk.h" source="common/services/clock/genclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/tpaste.h" source="xmega/utils/preprocessor/tpaste.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/led_example.c" source="common/applications/led_chaser/led_example.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/stk600/rc100x/init.c" source="xmega/boards/stk600/rc100x/init.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/ccp.h" source="xmega/drivers/cpu/ccp.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/ccp.s" source="xmega/drivers/cpu/ccp.s" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf.h" source="./common/applications/led_chaser/atxmega128a1_stk600/as5_8/asf.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/stringz.h" source="xmega/utils/preprocessor/stringz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/pll.h" source="common/services/clock/pll.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/sysclk.h" source="common/services/clock/xmega/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/make/Makefile.avr.in" source="common/utils/make/Makefile.avr.in" changed="False"/>
	</files>
	<documentation help="http://asf.atmel.com/docs/2.5.1/common/applications/led_chaser/atxmega128a1_stk600/doxygen/html/"/>
</framework-data>
